
:root {
    --background-color: #111722;
    --primary-color: #243047;
    --secondary-color: white;
    --font-family: 'Inter', 'Noto Sans', sans-serif;
    --border-color: rgba(36, 48, 71, 0.6);
    --box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

@font-face {
    font-family: 'Atkinson';
    src: url('fonts/PoiretOne-Regular.ttf');
}


.catalog {
    font-family: Atkinson, Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0c132c;
}

.catalog h1,
.catalog h2 {
    text-align: center;
    color: #f7f7f7;
}

.catalog .product-grid {
    display: flex;
}

.catalog .product-card {
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 353lh;
}

.catalog .column-1 {
    width: 60%;
}

.catalog .column-2,
.catalog.column-3 {
    width: 20%;
}

.catalog .product-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-width: 0px;
    display: block;
    margin: 5px;
}

.catalog .card-sizing-type-1 img {
    height: 88lh;
    width: 100%;
    position: center;
}

.catalog .card-sizing-type-2 img {
    height: 25lh;
    width: 100%;
    position: center;
    margin-bottom: -1px;
}

.catalog .card-sizing-type-3 img {
    height: 35lh;
    width: 100%;
    position: center;
    margin-bottom: 6px;
}
