:root {
    --background-color: #111722;
    --primary-color: #243047;
    --secondary-color: white;
    --font-family: 'Inter', 'Noto Sans', sans-serif;
    --border-color: rgba(36, 48, 71, 0.6);
    --box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

@font-face {
    font-family: 'Atkinson';
    src: url('fonts/PoiretOne-Regular.ttf');
}

.my_orders {
    font-family: 'Atkinson', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0c132c;
    color: #f7f7f7;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.my_orders h1,
.my_orders h2 {
    text-align: center;
    margin: 20px 0;
    font-weight: normal;
    color: #f7f7f7;
}

.my_orders .container {
    flex: 1;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.my_orders .content-section {
    padding: 20px;
}

.my_orders .section-header {
    font-size: 36px;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
}

/* Стили для списка заказов */
.my_orders .order-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
}

.my_orders .order-item {
    display: flex;
    gap: 20px;
    align-items: center;
    background-color: #16223c;
    padding: 20px;
    width: 100%;
}

.my_orders .order-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.my_orders .order-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
}

.my_orders .order-title {
    font-size: 24px;
    margin: 0;
    font-weight: 500;
}

.my_orders .order-price,
.my_orders .order-quantity {
    font-size: 18px;
    margin: 5px 0;
}

/* Разделительная линия между заказами */
.my_orders .order-divider {
    width: 100%;
    height: 10px;
    background-color: #0c132c;
}
