.page-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content-with-navbar {
    padding-top: 6rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    flex: 1;
} 