/* Глобальные стили */
:root {
    --background-color: #111722;
    --primary-color: #243047;
    --secondary-color: white;
    --font-family: 'Inter', 'Noto Sans', sans-serif;
    --border-color: rgba(36, 48, 71, 0.6);
    --box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.wishlist {
    font-family: 'Inter', 'Noto Sans', sans-serif;
    background-color: #111722;
    color: white;
    margin: 0;
    padding: 0;
}

/* Стили для item-grid */
.wishlist .item-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 10px;
    padding: 20px;
    justify-content: center;
}

.wishlist .item-grid img {
    width: 100%;
    height: auto;
    aspect-ratio: 2 / 3; /* Соотношение сторон исправлено */
    object-fit: cover; /* Обрезка изображений */
    border-radius: 8px;
}

/* Ссылки */
.wishlist a {
    text-decoration: none;
}
